 .footertext{
  
font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: lighter;
font-size: 26px;
line-height: 40px;

}

.work{
color:#C90E0E;
font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: lighter;
font-size: 26px;
line-height: 40px;

}



