@import './css/header.css';
@import './css/golovna.css';
@import './css/footer.css';
@import './css/about_us.css';
@import './css/info.css';
@import './css/media.css';
@import './css/cart.css';



.textprod{
    font-family: 'PT Sans Narrow';
}



/* кнопка прокрутки */


 #scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none; /* Ховаємо кнопку на початку */
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Адаптація для маленьких екранів */
@media (max-width: 768px) {
    #scrollTopBtn {
        width: 45px;
        height: 45px;
        font-size: 20px;
        bottom: 15px;
        right: 15px;
    }
}


